.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.post{
    display: flex;
    gap: 50px;
    text-align: justify;

}
.desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postimg{
  
    width: 500px;
    
    height: 250px;
    border-radius: 15px;
}
.userimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}