.container{
  display: flex;
  align-items: center;
  gap:100px;
}
.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title{
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip:text ;
  -webkit-text-fill-color:transparent ;
}

.img{
 width: 100%;
 height: 500px;
  object-fit: contain;
  animation:hero 4s alternate infinite;
}


  
@keyframes hero {
  from{
      transform: scale(0.7) translateX(0);
  }
  to{
    transform: scale(1.2) translateX(5%);
  }
}



.button{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width:max-content;
  padding: 5px 25px;
  height: 60px;
  background-color:#bbb;
  border: none;
  outline: none;
  color:black;
  font-size: 30px;
  border-radius: 8px;
  cursor: pointer;
}
.button:hover{
  background-color: #194c33;
  border-radius: 25px;
  color: white;
  transition: all 0.4s;
}
.icon{
  font-size: 34px;
}
.desc{
  font-size: 24px;
  font-weight: 300;

}
